$primary-color: #ff3f00;
$secondary-color: #3e424a;
$text-primary: #10151f;
$text-white: #ffffff;
$width-mx: 100%;
$width-md: 180px;
$width-lg: 1720px;
$width-42: 42%;
$width-48: 48%;
$width-68: 68%;
$family: "Poppins", sans-serif;
$none: none;
$weight: 500;
$pointer: pointer;
$transition: 200ms ease;
$abs: absolute;
